import React, { useState, useContext, useRef } from 'react';
import { Record, EntryHash, ActionHash } from '@holochain/client';
import { ClientContext } from '../../../../../clientContext';
import { decode } from '@msgpack/msgpack';

import type SlInputElement from '@shoelace-style/shoelace/dist/components/input/input';
import { SlAlert, SlButton, SlIcon } from '@shoelace-style/shoelace/dist/react';
{{#uniq_lines}}
  {{#each entry_type.fields}}
    {{#if widget}}
{{> (concat field_type.type "/" widget "/edit/imports") }};
    {{/if}}
  {{/each}}
{{/uniq_lines}}

import { {{pascal_case entry_type.name}}{{#each entry_type.fields}}{{#if (eq field_type.type "Enum")}}, {{field_type.label}}{{/if}}{{/each}} } from '../types';

interface I{{pascal_case entry_type.name}}DetailsProps {
  {{snake_case entry_type.name}}Hash: ActionHash;
  onFetchCanceled?: () => void;
  on{{pascal_case entry_type.name}}Deleted?: (actionHash: ActionHash) => void;
}

const {{pascal_case entry_type.name}}Details = ({ {{snake_case entry_type.name}}Hash, onFetchCanceled, on{{pascal_case entry_type.name}}Deleted} : I{{pascal_case entry_type.name}}DetailsProps) => {
  const client = useContext(ClientContext);
  const [loading, setLoading] = useState(true);
  const [editing, setEditing] = useState(false);

  const fetchSuccessRef = useRef<typeof SlAlert>(undefined);
  const fetchErrorRef = useRef<typeof SlAlert>(undefined);

  const [record, setRecord] = useState<{{pascal_case entry_type.name}}>(current{{pascal_case entry_type.name}});

  const is{{pascal_case entry_type.name}}Valid = () => {
      return true{{#each entry_type.fields}}{{#if widget}}{{#if (eq cardinality "single")}} && {{> (concat field_type.type "/" widget "/is-valid") variable_to_validate=(concat "{{snake_case entry_type.name}}." (camel_case field_name)) }}{{/if}}{{#if (eq cardinality "vector")}} && {{snake_case entry_type.name}}.{{camel_case field_name}}.every(e => {{> (concat field_type.type "/" widget "/is-valid") variable_to_validate="e" }}){{/if}}{{/if}}{{/each}};
    };

  const fetch{{pascal_case entry_type.name}} = async () => {
    setLoading(true);

    const maybeRecord: Record = await client!.callZome({
      cap_secret: null,
      role_name: '{{dna_role_name}}',
      zome_name: '{{coordinator_zome_manifest.name}}',
      fn_name: 'get_{{snake_case entry_type.name}}',
      payload: {{pascal_case entry_type.name}}Hash
    });

    setRecord(decode((maybeRecord.entry as any).Present.entry) as {{pascal_case entry_type.name}})
    setLoading(false);
  };
  const delete{{pascal_case entry_type.name}} = async () => {
    try {
      setLoading(true);
      const maybeRecord: Record = await client!.callZome({
        cap_secret: null,
        role_name: '{{dna_role_name}}',
        zome_name: '{{coordinator_zome_manifest.name}}',
        fn_name: 'delete_{{snake_case entry_type.name}}',
        payload: {{pascal_case entry_type.name}}Hash
      });
      setRecord(decode((maybeRecord.entry as any).Present.entry) as {{pascal_case entry_type.name}});
      await fetch{{pascal_case entry_type.name}}();

      on{{pascal_case entry_type.name}}Deleted && on{{pascal_case entry_type.name}}Deleted!();
    } catch (e: any) {
      deleteErrorRef!.current.show();
      deleteErrorRef!.current.toast();
    }
  };

  const handleSubmit = async (e: any) => {
    e.preventDefault();

    await fetch{{pascal_case entry_type.name}}();
  }

  return (
    <>
      <SlAlert variant="success" ref={deleteSuccessRef}>
        <SlIcon slot="icon" name="check2-circle" />
        <strong>Your new record has been saved</strong>
        <br />
        You can safely return now.
      </SlAlert>
      <SlAlert variant="warning" ref={deleteErrorRef}>
        <SlIcon slot="icon" name="exclamation-triangle" />
        <strong>Oh dear!</strong>
        <br />
          There was an error creating your record
      </SlAlert>
      <div>
        <span>Fetch {{title_case entry_type.name}}</span>
          {{#uniq_lines}}
            {{#each entry_type.fields}}
              {{#if widget}}
          {{> (concat field_type.type "/" widget "/edit/render") field_name=field_name entry_name=(snake_case ../entry_type.name)}}

              {{/if}}
            {{/each}}
          {{/uniq_lines}}
          <div>
            <SlButton 
              variant="neutral"
              label="Cancel"
              type="button"
              outline
              onClick={onFetchCanceled}
            >Cancel
            </SlButton>
            <SlButton 
              variant="primary"
              label="Save"
              type="submit"
              disabled={!is{{pascal_case entry_type.name}}Valid}
            >Submit
            </SlButton>
          </div>
      </div>
    </>
  );
};

export default {{pascal_case entry_type.name}}Details;