import React, { useState, useContext, useRef, useEffect } from 'react';
import { Record, EntryHash, ActionHash } from '@holochain/client';
import { ClientContext } from '../../../../../clientContext';
import { decode } from '@msgpack/msgpack';

import { SlAlert, SlButton, SlIcon, SlSpinner } from '@shoelace-style/shoelace/dist/react';

import {{pascal_case referenceable.name}}Detail from '{{pascal_case referenceable.name}}Detail';
import { {{pascal_case referenceable.name}}{{#each entry_type.fields}}{{#if (eq field_type.type "Enum")}}, {{field_type.label}}{{/if}}{{/each}} } from '../types';

const All{{pascal_case referenceable.name}}s = () => {
  const client = useContext(ClientContext);
  const [loading, setLoading] = useState(true);
  const [hashes, setHashes] = useState<Array<ActionHash>>();

  const fetchErrorRef = useRef<any>(null);

  useEffect(async () => {
    await fetch{{pascal_case referenceable.name}}s();
    client.on('signal', (signal : any) => {
      if (signal.zome_name !== '{{snake_case referenceable.name}}s') return; 
      const payload = signal.payload as {{pascal_case referenceable.name}}sSignal;
      if (payload.type !== 'EntryCreated') return;
      if (payload.app_entry.type !== '{{pascal_case referenceable.name}}') return;
      if (hashes) setHashes([...hashes, payload.action.hashed.hash]);
    });
  } ,[])

  const fetch{{pascal_case referenceable.name}}s = async () => {
    setLoading(true);

    try {
      const maybeRecords: Array<Record> = await client!.callZome({
        cap_secret: null,
        role_name: '{{dna_role_name}}',
        zome_name: '{{coordinator_zome_manifest.name}}',
        fn_name: 'get_all_{{snake_case referenceable.name}}s',
        payload: null
      });

      setHashes(maybeRecords.map(r => r.signed_action.hashed.hash));
    } catch (e: any) {
      fetchErrorRef?.current.toast();
    }
    setLoading(false);
  };

  return loading ? <SlSpinner></SlSpinner> :
    !hashes || hashes && hashes.length == 0 ? <p>No records found</p> : (
    <>
      <SlAlert variant="warning" ref={fetchErrorRef}>
        <SlIcon slot="icon" name="exclamation-triangle" />
        <strong>Oh dear!</strong>
        <br />
          There was an error fetching your records
      </SlAlert>
      {
        hashes.map((ah: ActionHash, i: number) => {
          <{{pascal_case referenceable.name}}Details {{snake_case referenceable.name}}Hash={ah} on{{pascal_case referenceable.name}}Deleted={fetch{{pascal_case referenceable.name}}s} key={i} />
        })
      }
    </>
  );
};

export default All{{pascal_case referenceable.name}}s;